
.shop-page {
  padding-top: 120px !important; 
  min-height: 100vh;
}


.filter-buttons {
  justify-content: center;
  margin-bottom: 50px;
  z-index: 5;
  position: relative;
}

.btn-filter {
  background: #1b1b1f;
  border: 1px solid #444;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: #ddd;
  transition: 0.25s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-filter i {
  font-size: 18px;
}

.btn-filter:hover {
  background: #2c2c34;
  transform: translateY(-2px);
  border-color: #b078ff;
  color: #b078ff;
}


.btn-filter.active {
  background: linear-gradient(145deg, #b078ff, #7a3aff);
  color: #fff;
  border-color: #a86bff;
  box-shadow: 0 0 15px rgba(168, 107, 255, 0.6);
}


.product-card {
  transition: 0.3s ease-in-out;
}


.product-card.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.product-card.hide {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  position: absolute;
}


.item-box {
  background: #0f1014;
  border: 1px solid #292b31;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: 0.25s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-box:hover {
  transform: translateY(-5px);
  border-color: #9e65ff;
  box-shadow: 0 0 20px rgba(158, 101, 255, 0.4);
}

.item-box img {
  width: 100%;
  height: 130px;
  object-fit: contain;
  margin-bottom: 10px;
}

.item-box h6 {
  font-size: 14px;
  color: #fff;
  margin: 8px 0;
  font-weight: bold;
}

.item-box p {
  font-size: 14px;
  color: #ffa800;
  margin-bottom: 0;
  font-weight: 600;
}
.search-box {
  width: 100%;
  max-width: 350px;
  position: relative;
}

.search-input {
  width: 100%;
  background: rgba(20, 24, 33, 0.95);
  border: 2px solid rgba(90, 90, 110, 0.4);
  padding: 12px 42px 12px 15px;
  border-radius: 10px;
  color: #e6e6e6;
  font-size: 15px;
  transition: 0.25s ease-in-out;
  backdrop-filter: blur(6px);
}


.search-input:hover {
  border-color: rgba(255, 0, 80, 0.7);
}


.search-input:focus {
  border-color: #ff2e63;
  box-shadow: 0 0 10px rgba(255, 46, 99, 0.6);
  outline: none;
  background: rgba(35, 40, 52, 0.95);
}


.search-box::after {
  content: "\F52A";
  font-family: "bootstrap-icons";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}


.search-box:focus-within::after {
  color: #ff2e63;
  text-shadow: 0 0 8px rgba(255, 46, 99, 0.7);
}